@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Nazib Mahfuz</h1>
    <p>Visit My Website to Learn More About Me. <a href="https://nazibmahfuz.com">Nazib Mahfuz</a>.</p>
</div>
