
@{
    ViewData["Title"] = "POS";
}

<table>
    <tr>
        <td>Date</td>
        <td>
            <input type="date" class="form-control" />
        </td>
    </tr>

    <tr>
        <td>Time</td>
        <td>
            <input type="time" class="form-control"/>
        </td>
    </tr>
</table>

