
@{
    ViewData["Title"] = "ReadMe";
}

<h4>ReadMe</h4>
<li>
    <ul>I am not using ASP.NET for last 2 year.</ul>
    <ul>Here I am just using my basic concept of Programming knowledge & Framework syntax</ul>
    <ul>Conceptually I am working on this kind of work using Laravel & Node Js</ul>
    <ul>I know, there is multiple place to improve in my code. </ul>
    <ul>I always remember the coding style, Clean Code, try to write Readable Code.</ul>
    <ul>Try to use comments.</ul>
    <ul>I would love to hear from you soon</ul>
</li>

